# Default values for logsight-backend.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: logsight/logsight-backend
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.


logsight:
  backend:
    deployment: stand-alone
    url: http://localhost:4200
    email: support@logsight.ai
    logStreamZMQPort: 5559
    logSinkConnection: zmq

  connections:
    postgres:
      host: postgresql
      port: 5432
      db: logsight
      username: logsight
    elasticsearch:
      scheme: http
      host: elasticsearch-master
      port: 9200
      username: elastic
    kibana:
      hostname: logsight-kibana
      port: 5601
    kafka:
      host: kafka
      port: 9092
      topic: pipeline
    resultApi:
      scheme: http
      host: logsight-result-api
      port: 5554
      comparePath: api/v1/compare




imagePullSecrets: []
nameOverride: "logsight-backend"
fullnameOverride: "logsight-backend"
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: ClusterIP
  port: 8080
  

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local


resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

